.tag{
   padding: 0 22px; 
   min-width: 71px; 
   background-color:#FF6060 ;
   display: inline-block;
   border-radius: 10px;
   text-align: center;
}
.tag p{
font-family: Montserrat;
font-size: 14px;
line-height: 0;
font-weight: 500;
color: white;
}
@media (max-width: 800px){
   .tag{
      min-width: 40px;
   }
   .tag p{
      font-size: 10px;
   }
}